* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
}

body .header .fanhui a {
    text-decoration: none;
    color: #000;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.icon-fh {
    width: 1.5rem;
    height: 1.5rem;
}

.incn-xialacaidang {
    width: 2rem;
    height: 2rem;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px #999;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header .fanhui {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.biaoti h3 {
    font-size: 2rem;
}

.main {
    margin-top: 13vh;
    flex: 1;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main>div {
    display: flex;
}

.xiaoqu,
.fenglei,
.chengdu,
.time {
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    height: 10vh;
    width: 80vw;
    align-items: center;
    box-shadow: 0px 0px 3px #999;
    border-radius: 1rem;
    margin-bottom: 5vh;
}

.xiaoqu span,
.fenglei span,
.chengdu span,
.time span {
    font-size: 1.8rem;
    text-shadow: 1px 1px 3px pink;
}

.combobox {
    width: 50vw;
    height: 3vh;
}


/* .text {
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 3px #999;
    align-self: center;
    padding: 3vh;
    margin-bottom: 5vh;
} */

body .main>textarea {
    padding: 2vh;
    display: block;
    width: 80vw;
    height: 30vh;
    outline: none;
    /* border: none; */
    margin-bottom: 5vh;
    overflow: scroll;
    /* resize: none; */
    max-width: 80vw;
    max-height: 30vh;
}

.btn1 {
    /* margin-top: 5vh; */
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    box-shadow: 0 0 3px #999;
    align-self: center;
    margin-bottom: 5vh;
    align-self: center;
    height: 10vh;
}

.btn1 input {
    width: 100%;
    background-color: palegreen;
    border: none;
    outline: none;
}

.btn1 input:hover {
    opacity: 0.8;
}